<div class="course-card">
    <div class="icon">📝</div>
    <h2>{{ title }}</h2>  
    <p>{{ description }}</p>  
    
    <p>
      Сложность:
      <span [ngSwitch]="difficulty">
        <span *ngSwitchCase="'easy'" style="color: green;">Легкая</span>
        <span *ngSwitchCase="'medium'" style="color: orange;">Средняя</span>
        <span *ngSwitchCase="'hard'" style="color: red;">Сложная</span>
        <span *ngSwitchDefault>Неизвестная</span>
      </span>
    </p>
    
    <button class="start-button">Начать</button>
  </div>