<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Навигационное поле</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav class="nav">
    <a routerLink="/" routerLinkActive="active" class="nav-item">
      Главная страница
    </a>
    <a routerLink="/vtoroi" routerLinkActive="active" class="nav-item">
      О нас
    </a>
    <a routerLink="/data" routerLinkActive="active" class="nav-item">
      Менеджер данных
    </a> 
  </nav>
</body>
</html>
